*{
    margin: 0;
    padding: 0;
    font-size: 16px;
}

main{
    background-color: #f0e5d7;
}

p{
  font-family: 'Nunito';
  font-size: 1rem;
  font-weight: 400;
}

h1 {
  font-family: "Vollkorn";
  font-size: 2rem;
  font-weight: 700;
}

h2 {
  font-family: "Vollkorn";
  font-size: 1.5rem;
  font-weight: 500;
}

h3 {
  font-family: "Vollkorn";
  font-size: 1.25rem;
  font-weight: 500;
}

h4 {
  font-family: "Vollkorn";
  font-size: 1rem;
  font-weight: 500;
}

/*
body {
    position: relative;
}*/

/*====================NAVBAR====================*/

#home-navbar {
    z-index: 5;
    position: fixed;
    width: 100%;
}

#navbar {
    z-index: 5;
    position: fixed;
    background-color: #56715C;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
}

nav {
  width: 100%;
}

.transition {
  background-color: #56715C;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.farveskift {
  background-color: #56715C;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
}

nav a {
  text-decoration: none;
  color: inherit;
}

.mobile-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.desktop-navbar {
  display: none;
}


.header-logo {
    margin-right: auto;
    padding: 10px;
}

.liwira-logo {
  height: 70px;
  width: 70px;
  display: block;
}

/*
.mobile-nav li {
    float: left;
    display: block;
}*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}


.fa-search, .fa-shopping-cart, .fa-bars {
    color: #EBEBEB;
    padding: 20px;
    margin: 10px;
  }


.burgermenu .burgermenu-dropdown {
  display: none;
  font-family: 'Nunito';
  position: absolute;
  background-color: #56715C;
  color: #EBEBEB;
  top: 100%;
  left: 0;
  margin-top: -1px;
  max-height: 88vh;
  overflow-y: scroll;
}

/*De følgende to styles er fra w3schools: https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp*/
/*Skjuler scrollbaren i Chrome, Safari og Opera*/
.burgermenu .burgermenu-dropdown::-webkit-scrollbar {
    display: none;
}

/*Skjuler scrollbaren i IE, Edge og Firefox */
.burgermenu .burgermenu-dropdown {
  -ms-overflow-style: none;  /* IE og Edge */
  scrollbar-width: none;  /* Firefox */
}


#burger-gavekurve, #burger-kunst, #burger-deli {
  display: none;
  flex-direction: column;
  width: 100%;
  background-color: #F0E5D7;
  color: #000000;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.3) inset;
  padding: 15px;
}

.burger-undermenu {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.arrow {
  border: solid #EBEBEB;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 2px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
}

.burgermenu-item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.burgermenu-subitem {
  padding: 20px;
}

.burgermenu-item-aktiv {
  background-color: #67866e;
}

.dropdown-underlink {
  text-align: left;
  padding: 10px 5px 10px 40px;
}

.dropdown-overskrift {
  font-weight: 900;
  text-align: left;
  padding: 10px 0 10px 5px;
}

/*
  .desktop-navbar {
      display: initial;
      display: flex;
      flex-direction: row;
      font-family: 'Nunito';
      align-items: center;
      width: inherit;
  }


  .header-menu {
    display: flex;
    justify-content: center;    
  }

  .header-icons {
    display: flex;
    margin-right: 20px;
  }

  .menu-item {
    padding: 34px 20px;
    color: #EBEBEB;
    color: #FFFFFF;
  }




.menu-dropdown-gavekurve, .menu-dropdown-kunst-deli {
  display: none;
  position: absolute; 
  background-color: #F0E5D7;
  color: #000000;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
  top: 100%;
  margin-left: -20px;
} 


.menu-item:hover .menu-dropdown-gavekurve {
  display: flex;
  flex-direction: column;
}






.dropdown-overskrift:hover, .dropdown-underlink:hover {
  text-decoration: underline;
}


.kunsthåndværk-dropdown {
  display: none;
  position: absolute; 
  background-color: #F0E5D7;
  color: #000000;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
  
  width: 100%;
  left: 0;
  top: 100%;
  max-height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 4;
  opacity: 0;
  transform: translateY(-100px);



.menu-item:hover .kunsthåndværk-dropdown {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

#home-navbar:hover { 
  background-color: #56715C;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.menu-item:hover {
  background-color: #67866e;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;
  color: #F0E5D7;
}


.menu-item:hover .menu-dropdown-kunst-deli {
  display: flex;
}

.kunst-deli-undermenu {
  display: flex;
  flex-direction: column;
  width: 175px;
}

.fa-search, .fa-shopping-cart, .fa-bars {
    padding: 10px;
    margin: 10px;
  }*/



/*====================HERO====================*/
.hero{
    width: 100%;
}

.hero-container {
    position: relative;
    width: 100%;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
}

/*====================GAVEKURV-SEKTION====================*/
.storgavekurv{
    display: flex;
    flex-direction: column;
}

.gavekurveheading{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gavekurv-sektion {
    width: 300px;
    background-color: #F0E5D7;
    padding: 1.5rem;
    text-align: center;
    margin: auto;
}

.overskrift-gavekurve {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.underoverskrift-gavekurve {
    color: #000000;
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: center;
}

.gavekurv-billede {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
    max-width: fit-content;
}

.gavekurv-pris {
    font-weight: bold;
    font-size: 1.2rem; /*19.2px*/
    margin-top: 0.5rem;
}

.divider-container {
    width: 100%;
}

.divider-billede{
    width: 100%;
    display: block;
}

/*====================PRODUKTSEKTION====================*/
.produkt-wrapper {
    background-color: #2f3c32;
}
.produkt-sektion {
    /*width: 300px;*/
    background-color: #2f3c32;
    padding: 1.5rem;
    text-align: center;
    /*margin: auto;*/
}

.overskrift-produkter {
    font-size: 1.8rem; /*28.8px*/
    font-weight: 800;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 50px;
}
/*
.underoverskrift-produkter {
    color: white;
    margin-bottom: 1.5rem;
}*/

.slideshowsection{
    height: auto;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #2F3C32;
}

  .slideshow-wrapper {
    display: flex;
    justify-content: center; 
    flex-direction: row;
}

.slideshow-container {
    max-width: 1000px;
    position: relative; 
    margin: 0; 
}

.prev, .next {
    cursor: pointer;
    position: absolute; 
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    color: #ffffff;
    background-color: #2F3C32;
    font-weight:bold;
    font-size: 22px;
    font-family: "Vollkorn";
    border-radius: 1000px;
    user-select: none;
    transition: 0.1s;
}

.prev {
    left: 30px;
}

.next {
    right: 30px;
}

.produktslideshow{
  object-fit: contain;
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.produkt-sektion-knap{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.seudvalgknap {
  font-family: "Nunito";
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-bottom: 50px;
  transition-duration: 0.3s;
  cursor: pointer;
  background-color: #C4492C; 
  color: white; 
  border: 2px solid #C4492C;
}

.seudvalgknap:hover {
  background-color: #85321E;
  border: 2px solid #85321E;
  color: white;
}

/*====================NYHEDSBREV====================*/
.nyhedsbrev{
    width: 100%;
}

.nyhedsbrev-container {
    position: relative;
    /*width: 100%;*/
    overflow: hidden;
  }
  
  .background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    /*width: 100%;*/
    z-index: 0;
  }
  
  .nyhedsbrev-text {
    position: relative;
    text-align: center;
    color: white;
    max-width: 600px;
    margin: auto;
    padding: 3rem;
  }

  .signup-form {
    display: flex;
    max-width: 100%;
    margin-top: 20px;
    overflow: hidden;
    border-radius: 4px;
  }
  
  .signup-form input[type="email"] {
    flex: 1;
    padding: 1rem;
    font-size: 1rem;
    border: none;
    outline: none;
  }
  
  .signup-form button {
    background-color: #c4492c;
    color: white;
    padding: 1rem 1.5rem;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }

  .signup-form button:hover {
    background-color: #85321E;
    transition-duration: 0.3s;
  }

  /*====================OM OS-SEKTION====================*/
  .divider-container_lisbeth {
    width: 100%;
    margin: 0;
}

.omossektion_tekst{
    padding: 3em;
}

.overskrift-omos {
    font-size: 1.8rem; /*28.8px*/
    font-weight: 800;
    margin: 0.2rem 0;
    display: flex;
    justify-content: center;
}

  .divider-billede_lisbeth{
    width: 100%;
    height: auto;
  }

  .divider-billede_lisbeth-index{
      width: 100%;
      height: auto;
  }
  
  .underoverskrift-omos {
    color: #000000;
    margin-bottom: 1.5rem;
    text-align: left;
}

  .samarbejdspartnere-sektion {
    display: flex;
    justify-content: space-around;
    align-items: center;            
    padding: 2rem 0;
  }

  .samarbejdspartnere-logo {
    width: 100px;          
    height: auto;
  }

  /*====================FOOTER====================*/
   .footer {
    background-color: #F0E5D7;
    color: #000000;
    font-size: 1.2em;
    font-family: "Vollkorn";
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .footer-column {
    margin-bottom: 1em;
  }
  
  .footer-links_overskrift {
    font-weight: bold;
    margin-bottom: 0.5em;
    font-family: "Vollkorn";
  }
  
  .footer-links {
    margin: 0.2em 0;
  }
  
  .footer-socials {
    background-color: #F0E5D7;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 1em 0;
  }
  
  .footer-vilkaar {
    background-color: #F0E5D7;
    text-align: center;
    font-size: 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
    padding-bottom: 25px;
  }
  
  .footer-vilkaar p {
    margin: 0;
  }
  
  .fa {
    font-size: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .footer-socials .fa:hover {
    color: #ffffff;
    background-color: #000000;
    /*opacity: 0.7;*/
  }
  
  .fa-facebook,
  .fa-instagram,
  .fa-linkedin {
    border: solid 2px #000000;
    color: #000000;
    padding: 15px;
    width: 15px;
    height: 15px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }



/*====================SPECIFIK PRODUKT-SIDE====================*/
.breadcrumb{
  text-align: left;
  padding-left: 10px;
  padding-top: 120px;
  padding-bottom: 20px;
  width: auto;
}
ul.breadcrumb li {
    display: inline;
    font-size: 10px;
    text-align: left;
  }

  ul.breadcrumb li+li:before {
    padding: 4px;
    color: black;
    content: "/\00a0";
  }
  
  ul.breadcrumb li a {
    color: #000000;
    text-decoration: none;
  }
  
  ul.breadcrumb li a:hover {
    color: #ffffff;
  }

  .underoverskrift-specifikprodukt {
    color: #000000;
    margin-bottom: 1.5rem;
    padding-top: 20px;
    font-size: 20px;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
  }
  
  .specifikprodukt-sektion {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    padding: 1.5rem;
    font-family: "Vollkorn";
    text-align: center;
    margin: auto;
    text-align: left;
  }

  .produkt-billede {
    width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 1rem;
}
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: auto;
  }
  
  .variants {
    display: flex;
    gap: 10px;
  }
  
  .variant {
    padding: 10px 15px;
    border: 1px solid #333;
    background-color: #e6dccb;
    cursor: pointer;
    font-family:'Nunito';
  }
  
  .variant.selected {
    background-color: #2f3b2f;
    color: white;
  }
  .amount{
    font-family: 'Nunito';
  }

  input[type="number"] {
    width: 60px;
    padding: 10px;
    font-size: 16px;
    text-align: center;
  }
  
  .tilfoejtilkurv {
    margin-top: 10px;
    padding: 15px;
    width: 100%;
    background-color: #b55135;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Nunito';
  }

  .frifragt{
    display: flex;
    justify-content: center;
  }
  .specifikprodukt-sektion-mindre {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1.5rem;
    font-family: "Vollkorn";
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
  }

  .produkt-information-mindre{
    font-family: 'Nunito';
    font-size: 12px;
  }

  .gavekurv-pris-mindre {
    font-weight: bold;
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }



  .anbefaldedeprodukterpadding {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

/*======================ACCORDION=====================*/
.accordion {
  background-color: transparent;
  font-family: "Vollkorn";
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-bottom: 1px solid #2F3C32;
}

.active, .accordion:hover {
  background-color: #67866e;
}

.accordion::after {
  content: '+';
  font-size: 18px;
  float: right;
  transition: transform 0.3s;
}

.accordion.active::after {
  content: '-'; 
}

.panel {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  text-align: left;
}


/*====================KONTAKT-SIDE====================*/
  .kontakt-billede {
    width: 300px;
    height: 300px;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

.page-wrapper-ekstra-margin {
  display: flex;
  flex-direction: column;
  padding: 158.5px;
}
/*==================== VINCENT ====================*/

.webshop__kurv__produkt__taeller{
  position: absolute;
  font-family: 'Nunito';
  top: 10px;
  right: 20px;
  width: 30px;
  height: 30px;
  background: #c4492c;
  border-radius: 15px;
  font-size: 1.5rem;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 6;
  visibility: hidden;
}



a{
  color: #000;
}

/*============= BYG SELV GAVEKURV =============*/

#kurv__ikon {
  position: fixed;
  color: #2f3c32;
  cursor: pointer;
  right: 30px;
  top: 100px;
}

#kurv__ikon .ri-gift-line{
  font-size: 50px;
}

.kurv__produkt__taeller{
  position: absolute;
  font-family: 'Nunito';
  top: 0;
  width: 30px;
  height: 30px;
  background: #c4492c;
  border-radius: 15px;
  font-size: 1.5rem;
  color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.produktside{
  padding-top: 100px;
}

.produktside__titel{
  font-family: "Vollkorn";
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;
}

.produktside__beskrivelse{
  display: flex;
  justify-content: center;
  margin: 40px;
  font-family: 'Nunito';
}

.produkt__indhold {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.produkt__link{
  text-decoration: none;
  color: #000;
}

.produkt__kort{
  width: auto;
  height: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.produkt__billede img{
  width: 350px;
  height: auto;
}

.produkt__navn{
  font-size: 0.9rem;
  font-weight: 700;
  margin-top: 20px;
}

.produkt__pris{
  font-size: 0.9rem;
  font-weight: 600;
}

.tilfoej__gavekurv{
  width: fit-content;
  background: #c4492c;
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 10px 20px;
}

.tilfoej__gavekurv:hover{
  background: #85321E;
  transition: 0.5s;
}

/*========== PRODUKT KURV ==========*/

.kurv{
  position: fixed;
  top: 90px;
  right: -100%;
  width: 360px;
  height: 100%;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
  padding: 65px 20px 40px;
  z-index: 100;
  overflow: auto;
  transition: 0.5s;
}

.kurv.aktiv{
  right: 0;
}

.kurv__titel{
  text-align: center;
  font-size: 2.5rem;
}


.individuelle__produkt{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.individuelle__produktbillede{
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.individuelle__produktoplysninger{
  display: grid;
  gap: 8px;
  margin-right: auto;
}

.individuelle__produktnavn{
  font-size: 1.25rem;
  line-height: 1;
}

.individuelle__produktpris{
  font-family: 'Nunito';
  font-size: 1rem;
  font-weight: 400;
}

.individuelle__produkttaeller{
  display: flex;
  width: 100px;
  border: 1px solid #777;
}

.individuelle__produkttaeller button{
  background: transparent;
  width: 30px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  background-color: #c4492c;
  color: #fff;
}
.individuelle__produkttaeller__tal{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  cursor: default;
}

.fjern__produkt{
  font-size: 25px;
  cursor: pointer;
  color: #777;
}

.fjern__produkt:hover{
  color: #ff0000;
  transition: 0.75s;
}
.i__alt{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: 1px solid #777;
  margin-top: 20px;
  font-size: 18px;
}

.i__alt__tekst{
  font-family: 'Nunito';
  font-weight: 400;
  margin-left: 10px;
}

.i__alt__total{
  font-family: 'Nunito';
  font-weight: 600;
  margin-left: 10px;
}

.tilfoej__kurv{
  display: block;
  padding: 10px 20px;
  background: #c4492c;
  border: none;
  font-size: 16px;
  color: #fff;
  margin: 20px auto 0;
  cursor: pointer;
}

.tilfoej__kurv:hover{
  background-color: #85321E;
  transition: 0.5s;
}

#luk__kurv{
  position: absolute;
  top: 20px;
  right: 15px;
  font-size: 35px;
  cursor: pointer;
}

#luk__kurv:hover{
  font-size: 45px;
  top: 15px;
  right: 10px;
}



/*====================Undersider Kategorier====================*/

.headline {
  text-align: center;
  padding-top: 130px;
}

.kategorier {
  padding: 0 50px;
  padding-bottom: 50px;
  background-color: #F0E5D7;
}

.kategorier .kategorier_column {
  display: flex;
  flex-direction: column;
}

.kategori-kort img {
  width: 100%;
  display: block;
}



.kategori-kort {
  /*padding: 20px 0;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  background-color: #fffaf3;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  max-width: 350px;
  max-height: 350px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}

.kategori-kort h2 {
  padding: 20px;
}

/*
.kategori-kort:hover {
  outline: solid 3px rgba(103, 134, 110, 0.5);
  outline: solid 3px rgba(86, 112, 92, 0.5);
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
}*/

/*
.kategorier-button {
  background-color: #c4492c;
  color: white;
  border: none;
  text-decoration: none;
  padding: 16px 32px;
  font-family: 'nunito';
  font-size: 1rem;
  font-weight: 700;
  margin-top: 20px;
}

.kategorier-button:hover {
    background-color: #85321E;
    transition-duration: 0.3s;
  }*/
    

/*====================MEDIA QUERY====================*/
@media only screen and (min-width: 1024px){


p{
  font-family: 'Nunito';
  font-size: 1.25rem;
  font-weight: 400;
}

h1 {
  font-family: "Vollkorn";
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  font-family: "Vollkorn";
  font-size: 2rem;
  font-weight: 500;
}

h3 {
  font-family: "Vollkorn";
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-family: "Vollkorn";
  font-size: 1.25rem;
  font-weight: 500;
}


  /*====================NAV====================*/


  .mobile-nav {
      display: none;
  }

  .desktop-navbar {
      display: initial;
      display: flex;
      flex-direction: row;
      font-family: 'Nunito';
      align-items: center;
      /*width: inherit;*/
  }


  .header-menu {
    display: flex;
    justify-content: center;    
  }

  .header-icons {
    display: flex;
    margin-right: 20px;
  }

  .menu-item {
    padding: 34px 20px;
    color: #EBEBEB;
    /*color: #FFFFFF;*/
  }

  .arrow {
  border: solid #EBEBEB;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 2px;
}

  .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg); 
}


.menu-dropdown-gavekurve, .menu-dropdown-kunst-deli {
  display: none;
  position: absolute; 
  background-color: #F0E5D7;
  color: #000000;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
  top: 100%;
  margin-left: -20px;
} 


.menu-item:hover .menu-dropdown-gavekurve {
  display: flex;
  flex-direction: column;
}


.dropdown-overskrift {
  font-weight: 900;
  margin-bottom: 10px;
  text-align: left;
  padding: 5px;
}

.dropdown-underlink {
  text-align: left;
  padding: 5px;
}

.dropdown-overskrift:hover, .dropdown-underlink:hover {
  text-decoration: underline;
}

/*
.kunsthåndværk-dropdown {
  display: none;
  position: absolute; 
  background-color: #F0E5D7;
  color: #000000;
  box-shadow: 0 3px 10px 0px rgba(0, 0, 0, 0.3);
  padding: 30px;
  /*
  width: 100%;
  left: 0;
  top: 100%;
  max-height: 0;
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 4;
  opacity: 0;
  transform: translateY(-100px);*/


/*
.menu-item:hover .kunsthåndværk-dropdown {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}*/

#home-navbar:hover { 
  background-color: #56715C;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.5);
}

.menu-item:hover {
  background-color: #67866e;
  /*box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3) inset;*/
  /*color: #F0E5D7;*/
}


.menu-item:hover .menu-dropdown-kunst-deli {
  display: flex;
}

.kunst-deli-undermenu {
  display: flex;
  flex-direction: column;
  width: 175px;
}

.fa-search, .fa-shopping-cart, .fa-bars {
    padding: 10px;
    margin: 10px;
  }

/*
.kunst-deli-undermenu .dropdown-underlink {
  padding-right: 50px;
}*/


  /*====================HERO====================*/
  .hero{
    height: 95vh;
}
  .hero-text {
          text-align: center;
  }


  .hero-text h1 {
          font-size: 5rem;
  }

  /*====================GAVEKURV====================*/  /*------------pris og navn er byttet om på mobil og desktop ------------*/
  .storgavekurv{
      display: flex;
      flex-direction: row;
  }

  .gavekurveheading{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .gavekurv-sektion {
      width: 300px;
      background-color: #F0E5D7;
      padding: 1.5rem;
      text-align: center;
      margin: auto;
      
  }

  .gavekurv-billede {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 1rem;
  }

  .overskrift-gavekurve {
      font-size: 3rem; /*48px*/
      font-weight: 800;
      margin: 0.2rem 0;
      display: flex;
      justify-content: center;
  }

  .underoverskrift-gavekurve {
      color: #000000;
      margin-bottom: 1.5rem;
      display: flex;
      justify-content: center;
      font-size: 2rem; /*32px*/
  }

  .gavekurv-navn {
      font-weight: bold;
      margin: 0;
      font-size: 1.5rem; /*24px*/
  }


  .gavekurv-pris {
      font-weight:100;
      font-family: "Vollkorn";
      font-size: 1.5rem;
      margin-top: 0.5rem;
  }

  /*====================PRODUKTSEKTION====================*/
  .produkt-sektion {
      width: 600px;
      background-color: #2f3c32;
      padding: 1.5rem;
      font-family: "Vollkorn";
      text-align: center;
      margin: auto;
  }

  .produkt-billede {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 1rem;
  }

  .overskrift-produkter {
      font-size: 3rem;
      font-weight: 800;
      font-family: "Vollkorn";
      color: white;
  }

  .underoverskrift-produkter {
      color: white;
      margin-bottom: 1.5rem;
      font-size: 2rem;
      font-weight: 100;
  }

  .produkt-information .produkt-navn {
      font-weight: bold;
      margin: 0;
      color: white;
  }

  .produkt-information .produkt-pris {  
      font-weight: bold;
      font-family: "Vollkorn";
      font-size: 1.2rem;
      margin-top: 0.5rem;
      color: white;
  }

  .divider-container {
      height: 400px;
      overflow: hidden;
  }

  .divider-billede{
      width: 100%;
      display: block;
  }

  .fragt{
    display: flex;
    justify-content: center;
  }

  /*====================NYHEDSBREV====================*/
 
  .nyhedsbrev-text {
      padding: 5rem;
    }

  /*====================OM-OSSEKTION====================*/
  .omossektion{
      display: flex;
      flex-direction: row;
    
  }

  .omossektion_tekst{
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 4.5em;
  }

  .divider-container_lisbeth {
      width: 100%;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: left;
      justify-content: left;
  }

  .divider-billede_lisbeth{
      width: 100%;
      height: auto;
      padding-top: 812px;
    }

  .divider-billede_lisbeth-index{
      width: 100%;
      height: auto;
  }

  /*====================KONTAKT-SIDE====================*/
  .kontakt-billede {
    width: 200%;
    height: 200%;
    border-radius: 4px;
    margin-bottom: 1rem;
  }

  .page-wrapper-ekstra-margin {
    display: flex;
    flex-direction: row;
  }
    /*====================FOOTER====================*/
    .footer {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
  }

  .footer-column {
    min-width: 200px;
  }

      
    /*====================Undersider Kategorier====================*/

    .kategorier {
      display: flex;
      justify-content: center;
    }

    .kategori-kort {
      margin: 50px 50px;
      max-width: 400px;
      max-height: 400px;
    }

    .headline {
    padding-top: 160px;
    }
/*
.kategori-kort {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 50px auto;
  background-color: #fffaf3;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  max-width: 350px;
  max-height: 350px;
  min-width: 200px;
  min-height: 200px;
  overflow: hidden;
}
*/


.kategori-kort:hover {
  /*outline: solid 3px rgba(103, 134, 110, 0.5);*/
  /*outline: solid 3px rgba(86, 112, 92, 0.5);*/
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.6);
}


    /*====================SPECIFIK PRODUKT-SIDE====================*/

    .breadcrumb{
      text-align: left;
      padding-left: 100px;
      padding-top: 120px;
      padding-bottom: 20px;
      width: auto;
    }

    ul.breadcrumb li {
      display: inline;
      font-size: 15px;
    }

    ul.breadcrumb li+li:before {
      padding: 4px;
      color: black;
      content: "/\00a0";
    }
    
    ul.breadcrumb li a {
      color: #000000;
      text-decoration: none;
    }
    
    ul.breadcrumb li a:hover {
      color: #ffffff;
    }

    .underoverskrift-specifikprodukt {
      color: #000000;
      margin-bottom: 1.5rem;
      padding-top: 20px;
      font-size: 20px;
  }

  .page-wrapper {
      display: flex;
      flex-direction: column;
    }

    .align-mindreprodukter{
      display: flex;
      padding-left: 100px;
    }
    
    .specifikprodukt-sektion {
      flex-direction: row;
      align-items: flex-start;
      margin: 0;
      width: auto;
    }

    .produkt-billede {
      width: 30%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 1rem;
      padding-left: 100px;
    } 

    .paddingbetween{
      margin-left: 50px;
      margin-right: 200px;
    }

    .container {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin: auto;
    }
    
    .variants {
      display: flex;
      gap: 10px;
    }
    
    .variant {
      padding: 10px 15px;
      border: 1px solid #333;
      background-color: #e6dccb;
      cursor: pointer;
      font-family:'Nunito';
    }
    
    .variant.selected {
      background-color: #2f3b2f;
      color: white;
    }
    .amount{
      font-family: 'Nunito';
    }

    input[type="number"] {
      width: 60px;
      padding: 10px;
      font-size: 16px;
      text-align: center;
    }
    
    .tilfoejtilkurv {
      margin-top: 10px;
      padding: 15px;
      width: 100%;
      background-color: #b55135;
      color: white;
      font-size: 16px;
      border: none;
      cursor: pointer;
      font-family: 'Nunito';
    }

    .specifikprodukt-sektion-mindre {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1.5rem;
      font-family: "Vollkorn";
      text-align: center;
      margin: auto;
      text-align: left;
    }

    .produkt-information-mindre{
      font-family: 'Nunito';
      font-size: 12px;
    }

    .gavekurv-pris-mindre {
      font-weight: bold;
      font-size: 0.75rem;
      margin-top: 0.5rem;
    }
    
    .anbefaldedeprodukterpadding{
      padding-top: 20px;
      padding-bottom: 20px;
      padding-left: 100px;
    }
  
  /*============ VINCENT ======================*/
    /*========== Sammen sæt selv gavekurv ==========*/

  .produkt__navn{
    font-family: 'Nunito';
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: 20px;
  }
  
  .produkt__pris__kurv{
    font-family: 'Nunito';
    font-size: 0.9rem;
    font-weight: 600;
  }

  .produkt__pris--kurv .tilfoej__kurv{
    padding: 10;
    background: orange;
    border-radius: 6px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
  }

  }